
#Configuration File

config:
  scriptsPath: "/usr/local/share/nmap/scripts/"
  filePath: "/usr/local/share/nmap/scripts/script.db"
  fileBackup: 'scriptbk.db'
  scriptdb: "nmap_scripts.sqlite3"
  categories: ["auth","broadcast","brute","default","discovery","dos","exploit","external","fuzzer","intrusive","malware","safe","version","vuln"]
  checksum: '145f877fbcc38c451ec7602357e37c16'